.satu {
	overflow: scroll;
	border: 10px dotted red; 
	background-color: aqua;
	width: 300px;
	height: 100px;
}

.dua {
	overflow: scroll;
	border: medium solid green;
	background-color: aqua;
	width: 300px;
	height: 100px;
}

.tiga {
	overflow: scroll;
	border: 20px dashed blue;
	background-color: aqua;
	width: 300px;
	height: 100px;
}